@import url('https://fonts.googleapis.com/css?family=Arimo|Josefin+Sans|Buda:300|El+Messiri|Kavivanar');


body
{
  font-family: 'Arimo', sans-serif;
}

#homeimage{
background-image: url('../img/femmes_coco.jpg');
background-attachment: fixed;
background-position: center;
background-size:cover;
background-color: rgba(255,255,255,0.5);
height: 50vh;
color: white;
}


#partie2{
background-color: #FFFFFF;
padding-top: 50px;
padding-bottom: 50px;
color: black !important;

}

h2{
  color: #5FFF6D;
  font-family: 'El Messiri', sans-serif;
  font-stretch: ultra-expanded;
  font-weight: 100;
}

#homeimage h2
{
  font-size: 2rem;
}

#patte {
background-color: #43A5E5;
padding-bottom: 25vh;
color:#FFFFFF;
font-family: Snell Roundhand, cursive;
text-align: center;
margin: auto;

}

#partie3{
background-color: #FFFFFF;
padding-top: 50px;
padding-bottom: 50px;

}

#bulleimage{
background-image: url('../img/vroum.png');
background-attachment: fixed;
background-position: center;
background-size:cover;
background-color: rgba(255,255,255,0.5);
height: 100vh;

color: #F4EFE6;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5FC041;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-img-top{


}


.bg-white
{
  background-color: white;
}

.navbar-brand
{
  color:#5FFF6D !important;
  font-size: 2rem;
  font-family: 'El Messiri', sans-serif;
}

/*.btn
{
  border-color: #FFC55F;
  background-color: #E8E557;
  color: black;
}*/