body{
  background-color: grey;
}
#homeimage{
background-image: url('../img/route.jpg');
background-attachment: fixed;
background-position: center;
background-size:cover;
background-color: rgba(255,255,255,0.5);

color: black;
}


#partie2{
background-color: #76cad4;
padding-top: 50px;
padding-bottom: 50px;
color: black !important;

}

h2{
  color: #3a8e21;
  font-family: Trattatello, fantasy;
  font-stretch: ultra-expanded;
}

#patte {
background-color: #cecece;
padding-bottom: 25vh;
color:#346472;
font-family: Snell Roundhand, cursive;
text-align: center;
margin: auto;

}

#partie3{
background-color: #cecece;
padding-top: 50px;
padding-bottom: 50px;

}

#bulleimage{
background-image: url('../img/drone_taxi.jpg');
background-attachment: fixed;
background-position: center;
background-size:cover;
background-color: rgba(255,255,255,0.5);
height: 50vh;

color: #76cad4;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #5FC041;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#coordinates{
  background-color: #5d5d5d;
  padding-top:50px;
  color: #76cad4;
}
#coordinates i{
  color:white;
}
#coordinates p, footer ul li{
  font-size:0.8em;
}
#coordinates h2{
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 15px;
  color: white;
}

footer{
  background-color: #454545;
  color: #f3f3f3;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

footer p{
  margin: 0;
}

footer .nav-link{
  color: white !important;
}
.selectform{
  background-color: #e9ecef;
  border-radius: 4px;
  color: black;
  padding: 3px;
}

.form-group{
  display: block !important;
}
.form-control{
  display: inline !important;
}
.input-group{
  padding-left: 0px;
}
.btn{
  background-color: #e9ecef !important;
  color: black !important;
  padding: 9px;
}
.formulaire{
  padding-top: 20vh;
  padding-bottom: 20vh;
}
